<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkPNeU7TzqHmF5_cQbOAik0a2HNHVpl5g</string>
	<key>GCM_SENDER_ID</key>
	<string>741677012311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dgj.RickAndMorty</string>
	<key>PROJECT_ID</key>
	<string>app-ricky-morty</string>
	<key>STORAGE_BUCKET</key>
	<string>app-ricky-morty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741677012311:ios:6c688893ef9612c57c5a12</string>
</dict>
</plist>